.title {
  font-family: Light;
  text-align: center;
  font-size: 90px;
  padding-top: 100px;
  margin-bottom: 140px;
}
.collection {
  background-color: #e0edf4;
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.product img {
  height: 400px;
  margin: 0 auto;
  display: block;
  mix-blend-mode: darken;
}

.price {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #e2582c;
  border-radius: 30px;
  position: absolute;
  padding: 10px 20px;
  background: #e2582c;
  color: #fff;
  cursor: pointer;
}

.product_name {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.product {
  width: 25%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.center {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .collection {
    width: 100%;
  }
  .row {
    width: 100%;
    display: block;
  }
  .product {
    width: 100%;
  }
}
