.header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0px 10px;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin-top: 50px;
  margin-left: -50px;
}
.ul{
  display: flex;
}
.info{
  margin-top: 40px;
}
.logo{
  margin-right: 180px;
  margin-top: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.cart{
  width: 100%;
}
.main_section {
  height: 800px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}
.relative{
  position: relative;
  margin-top: 40px;
}
.left_side {
  background-color: #e0edf4;
  width: 50%;
}
.left_side h1 {
  font-family: Light;
  font-size: 90px;
  letter-spacing: 10px;
  color: #161616;
}
.left_side p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: -30px;
}
.right_side {
  background-color: #f5f9fa;
  width: 50%;
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.header img {
  width: 50px;
  height: 50px;
}

.status {
  margin-top: 0px;
  text-align: center;
  color: red;
}

.status img {
  width: 20px;
  height: 20px;
}

.burger{
  display: none;
}

.red_counter{
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  left: 55%;
}
@media only screen and (max-width: 600px) {
  .left_side {
    width: 100%;
  }
  .main_section {
    display: block;
    width: 100%;
  }
  .left_side h1 {
    letter-spacing: 0px;
  }
  .right_side img {
    width: 100%;
  }
  .right_side {
    width: 100%;
  }
  .content {
    padding-bottom: 50px;
  }
  .burger{
    display: block;
    width: 100%;
  }
  .main_menu{
    display: none;
  }
  .logo{
    display: none;
  }
  .header{
    width: 100%;
  }
  .header ul{
    width: 100%;
    justify-content: flex-end;
  }
  .relative{
    margin-top: 20px;
  }
  .red_counter{
    top:35%
  }
}
